.modal {
  position: fixed;

  display: none;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-color: transparent;

  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.modal__window {
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 95vw;
  min-height: 50vh;

  margin: 0;
  padding: 20px;
  
  background-color: $dark-theme--background-color;
  
  border: none;
  border-radius: 20px;

  opacity: 0;

  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.modal__description {
  margin: 0;
  padding: 0;

  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: $white;
  text-align: center;
}

.modal__description-sentence {
  display: inline-block;
  margin-top: 32px;
  vertical-align: middle;


  &:first-child {
    margin-top: 0;
  }
}


/*
 * === АНИМАЦИИ для плавной реализации некоторых эффектов ===
 */

// --- Плавное появление background-color у оверлея для Модального окна ---
@keyframes modal-backgound-color-occurrence {
  0% {
    background-color: transparent;
  }

  100% {
    background-color: rgba($white, 0.4);
  }
}

// --- Плавное появление Модального окна ---
@keyframes modal-window-opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


/*
==================================
--------- МЕДИАВЫРАЖЕНИЯ ---------
==================================
*/

// *** для ширины вьюпорта "Планшет" ***
@media (max-width: $width--tablet) {
  .modal {
    display: flex;
    background-color: rgba($white, 0.4);
    animation-name: modal-backgound-color-occurrence;
  }

  .modal__window {
    opacity: 1;
    animation-name: modal-window-opacity;
  }
}
