.navigation-menu {
  margin: 0 auto;
  margin-top: 16px;
  padding: 0;
}

.navigation-menu__list {
  @include markerless;
}

.navigation-menu__link {
  position: relative;

  display: inline-flex;
  align-items: center;

  width: 100%;
  min-height: 36px;

  margin: 0;
  padding: 0;
  padding-left: $sidebar-padding--left;

  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  color: rgba($white, 0.6);
  text-decoration: none;

  border: none;
  border-radius: 4px;

  $properties-for-transition: width, height, padding, background-color, opacity;

  @include transition-settings($properties-for-transition);
}

.navigation-menu__link-icon {
  stroke: rgba($white, 0.6);
}

.navigation-menu__link-text {
  /*
   *** Небольшое "костыльное" решение псевдоадаптивности текста ссылок Навигации.
   *** Будет применяться до тех пор, пока не создастся адаптивный Сайдбар.
   *** ---
   *** Сейчас текст ссылок просто обрезается и в конец ему добавляется многоточие,
   *** создавая визуальную иллюзию незаконченности текста.
   */
  text-overflow: ellipsis;
  overflow: hidden;

  $properties-for-transition: color, opacity;

  @include transition-settings($properties-for-transition);
}


/*
*** Стили состояний элементов ***
*/
.navigation-menu__link:hover,
.navigation-menu__link:focus {
  color: $white;
  background-color: $dark-theme--hover;
}

.navigation-menu__link:hover > .navigation-menu__link-icon,
.navigation-menu__link:focus > .navigation-menu__link-icon {
  stroke: $white;
}

.navigation-menu__link:active {
  opacity: 0.7;
}