.sidebar-header {
  background-color: $dark-theme--sidebar-header-and-footer;
}

.sidebar-header__toggle-button {
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  min-height: 84px;

  margin: 0;
  padding: 0;
  padding-top: 34px;
  padding-right: 42px;
  padding-bottom: 34px;
  padding-left: 42px;

  font-size: 0;

  background-color: $dark-theme--sidebar-header-and-footer;
  border: none;
  border-radius: 0;

  cursor: pointer;

  $properties-for-transition: background-color, opacity;

  @include transition-settings($properties-for-transition);


  &::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 42px;
    transform: translateY(-50%);

    display: block;

    width: 18px;
    height: 2px;

    background-color: $line-color;

    box-shadow:
      0 8px 0 0 $line-color,
      0 -8px 0 0 $line-color;

    $properties-for-transition: box-shadow;

    @include transition-settings($properties-for-transition);
  }
}

.sidebar-header__logo {
  margin: 0;
  margin-left: 44px;

  fill: $white;


  &--sidebar-closed {
    opacity: 0;
  }
}


/*
*** Стили состояний элементов ***
*/
.sidebar-header__toggle-button:hover,
.sidebar-header__toggle-button:focus {
  background-color: $dark-theme--hover;
}

.sidebar-header__toggle-button:active {
  opacity: 0.7;
}

.sidebar-header__toggle-button:hover::before,
.sidebar-header__toggle-button:focus::before {
  box-shadow:
    0 4px 0 0 $line-color,
    0 -4px 0 0 $line-color;
}