.sidebar {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-width: 98px;
  max-width: 342px;
  min-height: 100vh;

  background-color: $dark-theme--background-color;

  $properties-for-transition: width, background-color;

  @include transition-settings($properties-for-transition);
}

.sidebar__inner-wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  padding: 24px;
  padding-top: 32px;

  $properties-for-transition: padding;

  @include transition-settings($properties-for-transition);
}

.sidebar__navigation {
  padding: 0;
  padding-bottom: 40px;

  border-bottom: 1px solid $line-color;
}
