.sidebar-footer {
  position: relative;

  display: flex;

  width: 100%;
  min-height: 88px;

  margin: 0 auto;
  padding: 24px;

  overflow-x: hidden;

  background-color: $dark-theme--sidebar-header-and-footer;

  $properties-for-transition: padding, background-color;

  @include transition-settings($properties-for-transition);
}

.sidebar-footer__user-avatar-box {
  position: relative;

  margin: auto;
  margin-left: 0;


  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    right: 0;

    display: block;

    width: 12px;
    height: 12px;

    background-color: #22c55e;
    border: 2px solid white;
    border-radius: 50%;
  }
}

.sidebar-footer__user-avatar { 
  display: block;

  border: none;
  border-radius: 50%;
}
