.sidebar-footer {
  display: flex;

  width: 100%;
  min-height: 88px;

  margin: 0 auto;
  padding: 24px;

  background-color: $dark-theme--sidebar-header-and-footer;

  $properties-for-transition: padding, background-color;

  @include transition-settings($properties-for-transition);
}

.sidebar-footer__user-avatar-box {
  margin: auto;
  margin-left: 0;
}

.sidebar-footer__user-avatar {
  position: relative;
  
  display: block;

  border: none;
  border-radius: 50%;
}
