.theme-switcher {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 500px;

  padding-top: 10px;
  padding-right: 12px;
  padding-bottom: 10px;
  padding-left: 12px;

  border-radius: 12px;

  background-color: $dark-theme--background-color;
}

.theme-switcher__description {
  display: block;

  width: 100%;
  min-width: max-content;

  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  color: $white;
}

.theme-switcher__box {
  flex-grow: 1;
  display: flex;
  align-items: center;

  width: 100%;
  max-width: 120px;
  min-width: 100px;
  height: $theme-switcher--box-height;

  margin: 0 auto;
  margin-left: 20px;

  background-color: $important-button-color;

  border-width: $THEME_SWITCHER_BORDER_WIDTH;
  border-style: solid;
  border-color: $light-theme--background-color;
  border-radius: $theme-switcher--border-radius;
}

.theme-switcher__button {
  display: block;

  margin: 0 auto;
  margin-left: 0;

  font-size: 0;

  width: $theme-switcher--button-sizes;
  height: $theme-switcher--button-sizes;

  background-color: #c0c0c0;
  background-image: radial-gradient($white, #c0c0c0);

  border: 2px solid $dark-theme--background-color;
  border-radius: $theme-switcher--border-radius;

  cursor: pointer;

  $properties-for-transition: margin, transform;

  @include transition-settings($properties-for-transition, 0.1s);


  &--active {
    margin-left: calc(100% - $theme-switcher--button-sizes);
  }
}


.theme-switcher__button:hover,
.theme-switcher__button:focus {
  background-image: radial-gradient(#c0c0c0, $white);
}

.theme-switcher__button:active {
  transform: scale(0.95);
}
