.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-height: 100%;

  margin: 0 auto;
  margin-left: 16px;
  
  opacity: 1;

  $properties-for-transition: width, height, opacity;

  @include transition-settings($properties-for-transition);

}

.user-info__basic {
  display: block;

  margin: 0;
  padding: 0;

  line-height: 0;

  $properties-for-transition: font-size, opacity;

  @include transition-settings($properties-for-transition);
}

.user-info__name {
  display: block;

  width: 100%;
  min-width: max-content;

  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: $white;

  transition: inherit;
}

.user-info__speciality {
  display: inline-block;

  width: 100%;
  min-width: max-content;

  margin: 0;
  padding: 0;

  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #a1a1aa;

  transition: inherit;
}

.user-info__more-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-size: 0;
  vertical-align: middle;
  text-decoration: none;

  border: none;
  border-radius: 4px;

  $properties-for-transition: background-color, opacity;

  @include transition-settings($properties-for-transition);
}

.user-info__more-link-icon {
  stroke: $white;
  opacity: 0.6;

  $properties-for-transition: opacity;

  @include transition-settings($properties-for-transition);
}


/*
*** Стили состояний элементов ***
*/
.user-info__more-link:hover,
.user-info__more-link:focus {
  background-color: $dark-theme--hover;
}

.user-info__more-link:active {
  opacity: 0.7;
}

.user-info__more-link:hover > .user-info__more-link-icon,
.user-info__more-link:focus > .user-info__more-link-icon {
  opacity: 1;
}


/*
==================================
--------- МЕДИАВЫРАЖЕНИЯ ---------
==================================
*/

// *** для ширины вьюпорта "Планшет" ***
@media (max-width: $width--tablet) {
  .user-info__name,
  .user-info__speciality {
    min-width: min-content;
  }
}


// *** для ширины вьюпорта, которая уже "Планшетной" ***
@media (max-width: 650px) {
  .user-info {
    display: none;
  }
}