// === ИМПРОТИРОВАННЫЕ ФАЙЛЫ СТИЛЕЙ ===
@import "variables.scss";


// === ГЛОБАЛЬНЫЕ СТИЛИ ===
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;

  width: 100vw;
  min-width: $width--mobile;
  height: 100vh;
  min-height: 100vh;

  font-family: $primary-font;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: $black;

  // *** Для устранения горизонтальных скроллов в IE 11, Edge и Safari ***
  overflow-x: hidden;
}

// --- Настройка для автоматического "прилипания" футера к низу страницы ---
footer {
  margin-top: auto;
}


// === Класс для доступного сокрытия элементов ===
.visually-hidden {
  width: 1px;
  height: 1px;

  position: absolute;

  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}
