// === МИКСИНЫ ===

// Миксин для удаления маркеров элементов маркированных списков
// и обнуления отступов
@mixin markerless {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


// Миксин для настроек плавности интерактивных элементов
@mixin transition-settings ($property, $duration: 0.1s, $timing-func: ease) {
  transition: {
    property: $property;
    duration: $duration;
    timing-function: $timing-func;
  }
}
