.sidebar-icon {
  position: absolute;
  top: 50%;
  left: $sidebar-icon--padding-left;
  transform: translateY(-50%);

  width: $sidebar-icon--width;
  height: $sidebar-icon--height;

  margin: auto;

  fill: transparent;
  stroke: $white;

  $properties-for-transition: top, left, width, height, margin, padding, opacity, fill, stroke;

  @include transition-settings($properties-for-transition);
}
